#blog_link{
    display: none;
}
#reached{
    display: none;
}
#blog{
    display: none;
}
#about_tittle{
    margin-top: 20px;
}
#projects_tittle{
    margin-top: 20px;
}
.nk-isotope-item{
    padding: 4px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.gallery-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gallery-content{
    width: 360px;
    height: auto;
}
.nk-nav-social{
    display: none;
}
.nk-footer-social{
    display: none;
}
.full-img{
    width: 100%;
}
@media (max-width: 768px){
    .gallery{
        flex-direction: column;
        justify-content: center;
    }
    .gallery-content{
        width: 100%;
    }
}